<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SignUp</title>
    <script
      src="https://code.jquery.com/jquery-3.7.1.js"
      integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
      crossorigin="anonymous"
    ></script>
    <script src="../scripts/sign.js" defer></script>
  </head>
  <body>
    <div>
      <table>
        <label for="email">Email: </label>
        <input type="text" name="email" id="name" />
        <br />
        <label for="password">password: </label>
        <input type="text" name="pass" id="pass" />
        <button id="login" style="text-decoration: solid;">LOGINN</button>
      </table>
    </div>
  </body>
</html>
